/* css start */
/* root */
:root {
  --m-left: 20px;
  --m-right: 30px;
  --l-height: 30px;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navber>.nav>ul>li a::before {
  width: 10px;
  height: 10px;
  color: aqua;
}

.nav ul{
  display: inline-flex;
}

.nav img {
  margin-left: var(--m-left);
  margin-right: var(--m-right);
}

.nav ul li{
  line-height: var(--l-height);
  margin-left: var(--m-left);
}

.nav_right {
  line-height: var(--l-height);
  margin-right: var(--m-right);
}