.mainVideo {
    position: sticky;
    padding-top: 56.25%;
    margin-bottom: 200px;
    &::after {
        content: "";
        width: 300px;
        height: 3px;
        background: #f76707;
        position: absolute;
        left: 50%;
        margin-top: 100px;
        transform: translate(-50%, -50%);
    }
}

.video {
    position: absolute;
    top: 0;
}