.mainVideo {
    position: sticky;
    padding-top: 56.25%;
    margin-bottom: 70px;
    &::after {
        content: "";
        display: flex;
        justify-content: center;
        width: 150px;
        height: 2px;
        background: red;
    }
}

.video {
    position: absolute;
    top: 0;
}